.topnav{text-align: left;
    overflow: hidden;
    color: rgb(14, 79, 129)dd;
   /* background-image: url("project-2.jpg");*/
  
  }
  .topnav a {
    float: right;
    color: rgb(108, 129, 14)dd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  } 
  .topnav a:hover {
    background-color: whitesmoke;
    color: rgb(14, 79, 129)dd;
  }
 
  .topnav a.active {
    background-color: #04AA6D;
    color:rgb(79, 129, 14)dd;}

  .Contact a:hover {
      background-color:chocolate;
      color: black;
    }
   
  .Contact a.active {
      background-color: #04AA6D;
      color: white;
  }

  
  h1{text-align: center;
  color:rgb(116, 53, 8);}
  h3{color: black;
    font-family:Arial, Helvetica, sans-serif ;
    }
  
  body{
    background-image: url("development-5235091_1920.jpg"); 
      background-size:100%; }

     .accordion {
      background-color:grey;
      color:white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc;
    }
    img {width: 15%;
      padding-left: 1050px;
      padding-top: 20px;}
    
    span{
      color:grey;
    }
    span.hover{
      color: brown;
    }
    .panel {
      padding: 0 18px;
      color: /*rgb(228, 212, 201);*/ whitesmoke;
      background-image: url("Designs1_02.jpg");
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease;
    }

  

    footer{text-align:center;
      color: black
   ;}
   a:link{
     color:rgb(180, 84, 15);
   }
   a.visited{
     color:red;
   }
   a.hover{
     color:green;
     background-color: brown;
   }

  .Contact a{
    color:rgb(0, 0, 0)
  }
  .panel a{
    color:rgb(228, 212, 201);
  }

  h4{
    font-style: italic;
    color:brown;

  }
   
   

   

  
